[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "*"
djongo = "*"
python-dotenv = "*"
whitenoise = "*"
requests = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.9"
