{% extends 'base.html' %}
{% block content %}
    <h3>This is the tournament show page</h3>
    <h3>Number of teams competing: {{ tournament_info.numTeams }}</h3>
    {% for team in tournament_info.teams %}
    
    <div class="teams">
        <div class="card border-dark mb-3">            
            <div class="card-body">
                <h4 class='card-title'>Team {{forloop.counter|add:"-1"}}</h4>
                <h5 class='card-text'>{{team.player1}}</h5>
                <h5 class='card-text'>{{team.player2}}</h5>
                <h5 class='card-text'>{{team.player3}}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
    <div>
        <a class="btn btn-primary" href="/tournament/update/{{tournament_info.tournament_id}}">Update Details</a> |
        <a class="btn btn-danger" href="/tournament/delete/{{tournament_info.tournament_id}}">Delete Tournament</a>
    </div>
{% endblock %}