{% extends 'base.html' %}
{% block content %}
    <form action="/tournament/update/teams/{{tournament_info.id}}">
        {% csrf_token %}
        <label for="numTeams">Number of Teams</label>
            <select class="form-control" id="numTeams" name="numTeams" value="{{tournament_info.numTeams}}">
                {% for i in num_range %}
                    {% if i == tournament_info.numTeams %}
                    <option selected="selected">{{i}}</option>
                    {% else %}
                    <option>{{i}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        <input class="btn-primary btn" type="submit" value="Submit">
    </form>
{% endblock %}