{% extends 'base.html' %}
{% block content %}
    {% if displayName %}
    <h2>Welcome back {{ displayName }}</h2>
    <a type="button" href='/tournament/create' class="btn btn-primary btn-lg btn-block">Create New Tournament</a>
    {% else %}
    <h2>Welcome to Destiny Scrims</h2> 
    <h4>With Destiny Scrims, users can plan their Destiny 2 clan scrimmages and tournaments. Bungie API integration allows users to easily access their clan roster when building out tournaments.</h4>
    <h4><a href="{{ url }}" >Authenticate with Bungie to get started</a></h4></br></br>
    {% endif %}
{% endblock %}