{% extends 'base.html' %}
{% block content %}
    <form action="/tourney/create/teams/set" method="POST">
        {% csrf_token %}
        {% for i in num_range %}
            <div class="form-group">
                <label for="exampleFormControlSelect1">Team {{i}}</label>
                <select class="form-control" id="{{i}}">
                {% for member in member_list %}
                    <option value="{{member}}">{{member}}</option>
                {% endfor %}
                </select>
                <select class="form-control" id="{{i}}">
                {% for member in member_list %}
                    <option value="{{member}}">{{member}}</option>
                {% endfor %}
                </select>
                <select class="form-control" id="{{i}}">
                {% for member in member_list %}
                    <option value="{{member}}">{{member}}</option>
                {% endfor %}
                </select>
            </div>
        {% endfor %}
        <input type="hidden" id='numTeams' name='numTeams' value='{{ numTeams }}'>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}